BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty